body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: black;
    background-size: 100%;
    max-width: 2000px; 
}
.contaniar {
    flex-wrap: wrap;
    max-width: 1620px;
    margin: 70px auto 0;
}
.block1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   background-color: blueviolet;
    color: #fff;
    border-radius: 40px;
    cursor: grab;

}
.block2 {
    background-color: black;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 50px;

}
.block2 a:hover {
    color: blueviolet;
    background-color: aqua;
    border-radius: 10px;
    color: black;
}
.block2 a:nth-child(3) {
    color: black;
    background-color: aqua;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.5s;
}
.block2 a {
    font-size: 25px;
    color: white;
    background-color: violet;
    padding: 21px;
    border-radius: 100px;
    width: 248px;
    text-align: center;
}

.block1 img {
    max-width: 70px;
    padding: 0px 40px 17px 40px;
}
.block1 img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.block2 a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.block3 h5 {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.block5 p {
    font-size: 30px;
    line-height: 40px;
    color: aqua;
    text-align: center;
}
.block5 p:hover{
    transform: scale(1.4);
    transition: 0.7s;
    color: #fff;
}
.block3 h5:hover{
    transform: scale(1.2);
    transition: 0.7s;
    color: aqua;
}
iframe {

}

